{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "ecmaFeatures": {
      "jsx": true,
      "js": true
    },
    "sourceType": "module"
  },
  "env": {
    "es2021": true
  },
  "plugins": [
    "import",
    "promise",
    "n",
    "simple-import-sort",
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "document": "readonly",
    "navigator": "readonly",
    "window": "readonly"
  },
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-var": "warn",
    "no-console": "warn"
  }
}